@import "tailwindcss";
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #88888800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #55555563;
}
